.container::after{
}* {
    font-family: 'Nunito', sans-serif;
}
#header {
    background-color: black;
    height: 1%;
    border-radius: 15px;
}
#header div{
    text-align: center;
}

@media screen and (max-width:768px){
    .card {
        color:white;
        height: auto;
        width: 250px;
        width:200px;
        margin-left:25%;
        justify-content: auto;
        margin-bottom: 10px;
        justify-items: center;
        padding: 5px;
    }
    #header {
        padding:5px;
        height:10%;
        margin-bottom: 5px;
    }
    #myModal {
        width: auto;
        height:auto;
        margin: 20px;
        justify-content: center;
        background-color: white;
    }    
}
@media (min-width:768px) and (max-width:1920px){
    .card {
        margin:9px;
        color:white;
        height:98%;
        padding: 20px;
        width: 100% ; 
    } 
}

.button {
    border-radius: 5px;
    font-size: 18px;
}

